
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus, */
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.unboxing{
  display: flex;
  gap: 10em;
  border: #535bf2 solid 2px;
  border-radius: 0.8em;
  align-items: center;
  margin-left: 0.888em;
  padding: 29px;
}

.style1{
  background-color: rgb(88, 207, 58);
  
  
}
.style2{
  background-color: rgb(105, 240, 190);

  
}